{% extends "_base.html" %}
{% load static %}

{% block head %}
  <!-- FullCalendar CSS -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' />
  <!-- FullCalendar Scheduler CSS -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.10.0/scheduler.min.css' />
  <!-- Moment.js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
  <!-- jQuery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  <!-- FullCalendar JavaScript -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
  <!-- FullCalendar Scheduler JavaScript -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.10.0/scheduler.min.js'></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock head %}

{% block body %}
  <div id="calendar-container">
    <div id='calendar'></div>
    {% if perms.reservation.add_reservation or perms.reservation.add_reservation_self_team %}
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Reservation</h5>
          <form action="{% url 'reservation:reservation_list' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">start time: </label>
              {{ form.start_date }}
            </div>
            <div class="mb-3">
              <label class="control-label">end time: </label>
              {{ form.end_date }}
            </div>
            <div class="mb-3">
              <label class="control-label">room: </label>
                {{ form.room }}
            </div>
            {% if 'reservation.add_reservation' in perms %}
            <div class="mb-3">
              <label class="control-label">team: </label>
                {{ form.team }}
            </div>
            {% endif %}
            <div class="mb-3">
              <label class="control-label">note: </label>
              {{ form.note }}
              {{ form.reserver_user }}
            </div>

            {% if form.errors %}
              <ul class="errorlist">
                {{form.non_field_errors}}
                {% for field in form %}
                  {% if field.errors %}
                    <li>{{ field.label_tag }}
                      <ul class="errorlist">
                        {% for error in field.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
            <button type="submit" class="btn btn-primary"> Reserve </button>
          </form>
        </div>
      </div>
    {% endif %}
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
    const roomInput = document.getElementById('reserve-room');
      $('#calendar').fullCalendar({
        timeZone: 'UTC+3:30',
        allDaySlot: false,
        defaultView: 'agendaDay',
<!--        header: {-->
<!--          left: 'prev,next today',-->
<!--          center: 'title',-->
<!--          right: 'agendaDay,agendaWeek'-->
<!--        },-->
        minTime: '07:00:00',
        maxTime: '22:00:00',
        selectable: true,
        slotDuration: '00:30:00',
        eventOverlap: false,
        resourceAreaHeaderContent: 'Rooms',
        aspectRatio: 1.5,
        resources: {{ resources|safe }},

        resourceRender: function(resource, labelTds, bodyTds) {
          // Create a link element
          var link = document.createElement('a');
          link.href = "{% url 'reservation:room_detail' pk=12345 %}".replace(/12345/, resource.id);;
          while (labelTds[0].firstChild) {
            link.appendChild(labelTds[0].firstChild);
          }
          // Append the link to the resource cell
          labelTds[0].appendChild(link);
        },

        events: function(start, end, timezone, callback) {
          var startDate = start.format('YYYY-MM-DD');
          // Fetch events from the database based on the start and end dates
          $.ajax({
            url: '/reservation/json/',
            type: 'GET',
            dataType: 'json',
            data: {
              date: startDate,
            },
            success: function(response) {
              var events = response.events;
              console.log(events)
              callback(events);
            },
            error: function(xhr, status, error) {
              console.log('Error:', error);
            }
          });
        },

        eventClick: function(event) {
          // Handle event click here
          console.log('Event click:', event);
        },

        viewRender: function(view, element) {
          // Attach click event listener to resource elements
          $('.fc-resource-cell').on('click', function() {
            var resourceId = $(this).data('resource-id');
            // Perform desired actions with the resourceId
            console.log("Clicked resource ID: " + resourceId);
          });
        },

        dayClick: function(date, jsEvent, view) {
          // Handle event click here
          console.log('dayClick:', date);
        },

        select: function(start, end, jsEvent, view, info) {
          // Handle multi-select here
          if (view.name === 'agendaDay') {
            // User selected a range of time slots in the agendaDay view
            roomInput.value = info.id;

            const desiredTime = new Date();

            desiredTime.setYear(start['_i'][0]);
            desiredTime.setMonth(start['_i'][1]);
            desiredTime.setDate(start['_i'][2]);
            desiredTime.setHours(start['_i'][3]);
            desiredTime.setMinutes(start['_i'][4]);
            startTimePicker.setDate(desiredTime);

            desiredTime.setHours(end['_i'][3]);
            desiredTime.setMinutes(end['_i'][4]);
            endTimePicker.setDate(desiredTime);
          }
        },

        validRange: function(nowDate) {
          return {
            start: nowDate.clone(),
            end: nowDate.clone().add(7, 'days')
          };
        },

        selectAllow: function(selectInfo) {
            // Check if any events intersect with the selected range
            var events = $('#calendar').fullCalendar('clientEvents');
            var selectedEvent = {
              start: selectInfo.start,
              end: selectInfo.end,
              id: selectInfo.resourceId
            };
            for (var i = 0; i < events.length; i++) {
              var event = events[i];
              if (event.resourceId === selectedEvent.id && event.start.isBefore(selectedEvent.end) && event.end.isAfter(selectedEvent.start)) {
                return false;
              }
            }
            return true;
        },

        viewSkeletonRender: function(info) {
          console.log('viewSkeletonRender:', info.event);
          var selectedRoom = document.getElementById('room-filter').value;
          var resources = calendar.getResources();

          resources.forEach(function(resource) {
            if (resource.id === selectedRoom || !selectedRoom) {
              resource.el.style.display = ''; // Show the selected room column or all columns
            } else {
              resource.el.style.display = 'none'; // Hide other columns
            }
          });
        }
      });
      // Fetch events when the next button is clicked
        $('.fc-next-button').on('click', function() {
<!--          var calendar = $('#calendar').fullCalendar('getCalendar');-->
          calendar.fullCalendar('next');
          calendar.fullCalendar('refetchEvents');
        });

        // Fetch events when the previous button is clicked
        $('.fc-prev-button').on('click', function() {
          calendar.fullCalendar('prev');
          calendar.fullCalendar('refetchEvents');
        });

    });

    // Initialize the first Flatpickr instance for the start time
    const startTimePicker = flatpickr("#start-time", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "Y-m-d H:i",
      minTime: "07:00",
      maxTime: "21:50",
      onChange: function(selectedDates, dateStr) {
        const selectedStartTime = selectedDates[0];
        endTimePicker.set("minTime", selectedStartTime);
        endTimePicker.clear();
      }
    });

    // Initialize the second Flatpickr instance for the end time
    const endTimePicker = flatpickr("#end-time", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "Y-m-d H:i",
      minTime: "07:10",
      maxTime: "22:00",
    });
  </script>

  {% endblock body %}
