{% extends '_base.html' %}

{% block body %}
<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-4">Upcoming Meetings</h2>
            {% for reservation in object_list %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ reservation }}
                    </div>
                    <div>
                        <button onclick="location.href='{% url 'reservation:room_detail' reservation.room.id %}'" class="btn btn-sm btn-primary">
                            Room Detail
                        </button>
                        {% if perms.reservation.delete_reservation or perms.reservation.delete_reservation_self_team %}
                        <button onclick="location.href='{% url 'reservation:reservation_delete' reservation.id %}'" class="btn btn-sm btn-danger ml-2">
                            Delete
                        </button>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block dashboard_button %}{% endblock dashboard_button %}
