{% extends '_base.html' %}

{% block body %}
    <div class="container p-4">
        {% for msg in messages %}
            {{ msg }}
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}