{% extends "_base.html" %} {% block title %}Create New Team{% endblock title %}
{% block body %}
<h1>{% block body_title %}
  Create New Team
  {% endblock body_title %}</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <p><small>Note: Team Leader will be added to team members even of it is not selected in team members</small></p>
  {% block submit_button %}
  <button type="submit">Create</button>
  {% endblock submit_button %}
</form>
{% if perms.users.view_team %}
<button style="margin-top:10px;" onclick="location.href='{% url "users:team_list" %}'">Teams List</button>
{% endif %}
{% endblock body %}
