{% extends "_base.html" %}
{% block body %}
<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <h2>Teams</h2>
            <ul class="list-group">
                {% for team in object_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Id: {{ team.id }} - Name: {{ team.name }} - Team Leader: {{team.get_leader}}
                    <div>
                        {% if perms.users.change_team %}
                        <button style="margin-top:10px;margin-bottom:10px;" onclick="location.href='{% url "users:team_update" team.id %}'" class="btn btn-primary btn-sm">Details</button>
                        {% endif %}
                        {% if perms.users.delete_team %}
                        <button style="margin-top:10px;margin-bottom:10px;" onclick="location.href='{% url "users:team_delete" team.id %}'" class="btn btn-danger btn-sm">Delete</button>
                        {% endif %}
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No Team yet.</li>
                {% endfor %}
            </ul>
            <button style="margin-top:10px;" onclick="location.href='{% url "users:team_create" %}'" class="btn btn-success">Create New Team</button>
        </div>
    </div>
</div>
{% endblock body %}
